version: "3.9"
services:
  blogbackend:
    build: ./blogbackend
    image: anistigrini/blogbackend
    ports:
      - "8080:8080"
    volumes:
      - data:/blogbackend/data
  frontend:
    build: ./frontend
    image: anistigrini/blogfrontend
    ports:
      - "3000:3000"
    depends_on:
      - blogbackend
volumes:
  data:
