.main-navigation {
  border: 1px solid black;
  padding: 5px;
  display: flex;
  justify-content: space-around;
}

.main-navigation a {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 2px;
  text-decoration: none;
}
